#######
# latex temporary files
#######

*.out
*.blg
*.synctex.gz
*.log
*.aux
*.fdb_latexmk
*.toc
.DS_Store
*.fls
*.bbl

#######
# data temporary files
#######

*.pkl
*.mat
*.eps
*.pdf

#######
# system temporary files
#######

_BIN
__pycache__
*.pyc

#######
# user specified
#######
src/.idea/*
